.home_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1900px;
    height: 100%;
}

.home_page .articulos{
    width: 100%;
    height: 100%;
}

.container-articulos {
    display: flex;
    flex-direction: row;
    padding: 3em;
    
}
.container-articulos .title-calendario{
    display: flex;
    flex-direction: column;
    padding: 2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color:#fff;
    border-radius: 10%;
    width: 1100px;
    height: 850px;
    background-color: rgba(0, 102, 255, 0.205);
}

.container-articulos .title-calendario span{
    font-family: 'Lato';
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 1px;
  
}

.container-articulos .jpg{
 
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.container-articulos .jpg img{
    width: 1000px;
    height: 600px;
}

.container-articulos div.svg{
    width: 100%;
    height: 100%;
    padding-left: 70px;
    padding-top: 70px;
}
.container-articulos div.svg .svg{
    width: 600px;
}